@font-face {
  font-family: 'Cafe24SsurroundAir';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

p {
  font-family: 'Cafe24SsurroundAir';
}

/* Header */
.header {
  width: 85vw;
  margin: 0 auto;
}

.logo {
  display: block;
  padding-top: 20px;
  margin: 0 auto;
  width: 220px;
}

.logo img {
  width: 220px;
  height: auto;
}

.side-link {
  display: flex;
  justify-content: right;
  margin-bottom: 15px;
  font-family: 'Black Han Sans', sans-serif;
  font-size: 22px;
  color: #ffa500;
}

.side-link:hover {
  color: #ffa500;
}

/* Search bar */
.nav-bar {
  margin: 0 auto;
}

.search-form {
  display: flex;
  justify-content: center;
  width: 85vw;
  margin: 0 auto;
}

.search-input {
  flex-grow: 1;
  height: 48px;
  padding: 0 15px;
  margin-right: 15px;
  border: 2px solid #ffa500;
  border-radius: 10px;
  font-family: 'Cafe24SsurroundAir';
}

.search-btn {
  width: 68px;
  height: 48px;
  color: white;
  border: 2px solid #ffa500;
  border-radius: 10px;
  background-color: #ffa500;
}

.search-auto {
  position: absolute;
  width: auto;
  height: auto;
  padding: 3px;
  margin: 3px 0 0 50px;
  background-color: #fff;
  font-family: 'Cafe24SsurroundAir';
  cursor: pointer;
}

.search-auto > div {
  padding: 5px;
  margin-top: 3px;
  border-radius: 15px;
  border: 2px solid #ffc000;
}
.search-auto > div:hover {
  background: #ffc000;
}

/* Badges */
.badge-group {
  width: 85vw;
  padding: 15px 5px;
  margin: 0 auto;
  white-space: nowrap;
  overflow-x: scroll;
}

.badge {
  display: inline-block;
  width: 96px;
  padding: 5px;
  margin-right: 10px;
  border-radius: 8px;
  font-family: 'Cafe24SsurroundAir';
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
}

.badge.orange {
  background-color: #ffa500;
}

.badge.light-orange {
  background-color: #ffc000;
}

.badge.grey {
  background-color: #a5a5a5;
}

.badge.blue {
  background-color: #9fc5e8ff;
}

.badge:hover {
  color: red;
}

/* Columns */
.columns {
  width: 85vw;
  padding: 30px;
  margin: 20px auto 0;
  column-count: 5;
  column-gap: 10px;
}

.columns figure {
  display: inline-block;
  margin: 0;
  margin-bottom: 15px;
  padding: 10px;
  width: 100%;
}

.columns figure img {
  width: 100%;
  border-radius: 15px;
}

/* Card */
.card {
  padding: 55px 0;
}

.card-text {
  text-align: center;
  color: #ffa500;
}

.card-text h1 {
  font-family: 'Black Han Sans', sans-serif;
  font-size: 36px;
}

.card-image-box {
  width: 700px;
  height: 550px;
  margin: 30px auto;
  border: 2px solid #ffa500;
  border-radius: 50px;
  padding: 50px;
  border-radius: 50px;
}

/* Start page */
.sample-image {
  width: 500px;
  height: 350px;
  margin: 30px auto;
  background-image: url('https://cdn.entermedia.co.kr/news/photo/202108/27190_50134_4557.jpg');
  background-position: center;
}

.stop-btn {
  display: block;
  width: 180px;
  padding: 12px;
  margin: 20px auto 20px;
  background-color: #ffa500;
  border-radius: 16px;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset,
    rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
  font-size: 20px;
  font-weight: 700;
  color: white;
  text-align: center;
}

/* Result page */
.result-image {
  position: relative;
  height: 420px;
}

.result-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 300px;
  height: auto;
}

.result-text {
  font-weight: 700;
  text-align: center;
}

.icon-group {
  width: 350px;
  margin: 0 auto 30px;
  text-align: center;
}

.icon-group button {
  display: inline-block;
  background-color: transparent;
  width: auto;
  height: 35px;
  border: none;
  text-align: center;
  font-size: 15px;
  padding: 0;
  background-color: none;
  margin: 0 10px;
}

.icons button i {
  font-size: 30px;
  vertical-align: middle;
}

/* Footer */
.footer {
  padding: 35px 0;
  background-color: #e3e3e3;
  text-align: center;
}
